
body {
font-family: 'Courier New', Courier, monospace;
}

.container {
  padding: 3% 0 0 0;
}

h1 {
  padding: 2% 0;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

div#navBar {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

#header {
  background-image: url("/../../img/rock-n-roll-monkey-R4WCbazrD1g-unsplash.jpeg");
  background-size: cover;
  background-position: 0 15%;
  width:100%;
  position:inherit;
  padding:3%;
  text-align:left;
}

.column {
  float:right;
  width:10%;
}

.column a {
  color:#fff;
}

.bodyColumn {
  float:left;
  width:40%;
  padding: 0 10%;
}
.noButton {
  background: transparent;
  border: 0px transparent;
  color:#007bff;
}

.noButton:hover {
  color:crimson;
}

a:hover {
text-decoration: none;
}

.form-control {
  width: fit-content;
}