<div id="navBar">

  <div class="column">
    &nbsp;&nbsp;&nbsp;<a href="/">Home</a>&nbsp;&nbsp;&nbsp;
  </div>
  <div class="column">
    <a href="/Engineers/Create">Add an Engineer</a>
  </div>
  <div class="column">
    <a href="/Machines/Create">Add a Machine</a>
  </div>
  <div class="column">
    <a href="/Engineers">All Engineers</a>
  </div>
  <div class="column">
    <a href="/Machines">All Machines</a>
  </div>

</div>